
* {
    box-sizing: border-box;
}

body {
    background-color: #efedd6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow-x: hidden;
}


h1 {
    margin: 10px;
}

.box {
    background-color: steelblue;
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center; /*horizitional*/
    justify-content: center; /*verticial*/
    color: #fff;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);  /*right bottom blur color*/
    transform: translateX(200%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even) { /* select even element*/
    transform: translateX(-200%);
}

.box.show {
    transform: translateX(0); /* set to default*/
}

.box h2{
    font-size: 45px;
}